<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/logo.png" id="icon" alt="User Icon" />
      </div>
  
      
      <div>
        <p class="underlineHover" href="#" style="font-size: 36px;font-weight: 600;">WELCOME</p>
      </div>
      <div id="formFooter">
        
        
        <div class="row" style="padding: 0px 50px 0px 50px;">
          <a routerLink="/login" >
            <button type="button" class="btn btn-primary"
              style="border-radius:74px;height: 3rem;width: 100%;">
              Employee
            </button>
          </a>
        </div>
        <br>
        <br>
        <div class="row" style="padding: 0px 50px 0px 50px;">
            <button type="button" class="btn btn-primary" style="border-radius:74px;height: 3rem;" routerLink="/regcandidate">
              Candidate
            </button>
        </div>
      </div>
      
    </div>
  </div>
 